ENPHASE_TOKEN=remplacer_par_le_token_enphase
TESLA_CLIENT_ID=remplacer_par_le_client_id_tesla
ENVOY_URL=https://192.168.68.57/ivp/meters/readings
TESLA_REFRESH_TOKEN_FILE=/home/olivier/git/tesla-charge/tesla-refresh-token.json
TESLA_API_BASE_URL=https://fleet-api.prd.eu.vn.cloud.tesla.com
TESLA_AUTH_URL=https://fleet-auth.prd.vn.cloud.tesla.com/oauth2/v3/token
TESLA_PROXY_URL=https://localhost:4443
TESLA_PROXY_VERIFY_SSL=false
TESLA_PROXY_CA_FILE=
TESLA_VEHICLE_NAME=Tesla opc
CONTROL_INTERVAL_SEC=5
TESLA_STATUS_INTERVAL_SEC=30
TESLA_PROXY_RETRY_SEC=60
TESLA_MIN_AMPS=6
TESLA_MAX_AMPS=32
APP_HOST=0.0.0.0
APP_PORT=8080
REQUEST_TIMEOUT_SEC=10
LOG_LEVEL=INFO
ENVOY_VERIFY_SSL=false
